.Preview-container {
  position: fixed;
  top: 100px;
  right: 10px;
  border: 1px solid gray;
  width: 80px;
  padding: 10px;
  border-radius: 4px; }
  .Preview-container .dec {
    font-size: 14px;
    color: gray;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    margin: auto;
    text-align: center; }
  .Preview-container .binaries {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    margin: auto; }
